body {
    background: grey;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
}

img {
    border: 2px solid black;
}

div {
    font-size: 352px;
    color: blue;
}